*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, #22c1c3,#fdbb2d);
}
#container{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}

.innerContainer{
    width: 80%;
    /* height: 100vh; */
    /* margin-top: 60px ; */
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    /* background-color: rgb(177, 177, 238); */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    box-shadow: 2px 3px 7px 1px rgb(243, 215, 215);
}

.imageContainer{
    margin-top: 3rem;
    width: 350px;
    height: 350px;
    
   
}
img{
    width: 100%;
    height: 345px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 5px white;
    cursor: pointer;
}

img:hover{
    transform: scale(1.04);
}
figcaption{
    width: 100%;
    height: 4.2rem;
    background-color:rgba(192,192,192,0.3);
    position: relative;
    bottom: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
}

figcaption:hover{
    color: white;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    cursor: pointer;
}

.formContainer{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 30px 0px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border-radius: 2px;

}

#inputbox{
    width: 400px;
    height: 50px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
}

#searchBar{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

#btn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    align-self: flex-end;
    margin-top: 30px;
    color: white;
    margin-bottom: 10px;
    transition: 2s;
}

#btn:hover{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

p{
    padding: 200px 100px;
    font-size: 60px;
    text-transform: capitalize;
    text-shadow: 6px 25px 2px rgb(173, 28, 28);

}





